.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100vw;
  grid-template-rows: 12.5vh auto auto;
  text-align: center;
  color: #003b69;
}

#dark {
  background-color: rgb(12, 12, 12);
}

#dark main {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(6 24 12) 0%,
    rgb(23 29 48) 99.4%
  );
}

#dark footer,
#dark header {
  box-shadow: 0px -5px 20px 0px #0c0c0c;
}

#dark form {
  box-shadow: 0px 0px 20px 0px #000000;
}

#dark .modalContent {
  background-color: rgb(0 0 0 / 90%);
  color: white;
}

#dark h1,
#dark h3 {
  color: white;
}

header {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 140px;
}

header a {
  width: 15%;
}

footer,
header {
  box-shadow: 0px 0px 20px 0px #d7d7d7;
}

footer > * {
  padding: 1em;
  width: 65%;
}

main {
  padding: 2em 0 2em 0;
}

main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div {
  height: 100%;
  width: 70%;
  padding: 4em;
  background-color: #0000001c;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 0px #000000;
}

main div > * {
  margin: 1em;
}

form {
  box-shadow: 0px 0px 20px 0px #9b9b9b;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(0, 59, 105, 1) 0%,
    rgba(88, 160, 215, 1) 50%,
    rgba(105, 211, 147, 1) 100%
  );
}

form > * {
  margin: 1em;
}

form h1 {
  color: white;
}

input,
select {
  border: none;
  border-bottom: 2px solid #003b69;
  background: transparent;
  color: white;
  width: 50%;
  font-size: x-large;
}

label {
  background: rgb(0 0 0 / 30%);
}

label,
button {
  box-shadow: 0 1px 15px 1px #121212;
  color: white;
  font-size: large;
}

label {
  padding: 1em;
}

label,
button {
  border-radius: 10px;
}
label,
button,
input,
select {
  padding: 1em;
  margin: 1em;
}

option {
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

button {
  background-color: #69d393;
  border-color: transparent;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
}

hr {
  width: 100%;
  border-top: 1px solid #bbb;
}

a {
  color: #58a0d7;
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: #69d393;
}

b {
  color: #69d393;
}

small {
  font-size: x-small;
}

#themeBtn {
  border-radius: 20px;
  padding: 5px;
  font-size: x-large;
}

#vivaTrustStamp {
  flex-direction: column;
}

#vivaExternalLinks {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vivaContactInfo {
  display: flex;
  flex-direction: column;
}

#vivaContactInfo img {
  margin: 1em;
}

#vivaExternalLinks div {
  background-color: #58a0d7;
  border-radius: 10px;
  margin: 1em 0 1em 0;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

#vivaExternalLinks div img {
  width: 100%;
}

#vivaRelatedLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#confettiOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  margin: 0;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  margin: 0;
}

.overlay {
  background: rgba(13, 13, 13, 0.8);
}
.modalContent {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  max-width: 600px;
  min-width: 300px;
  text-align: left;
  color: rgb(0, 0, 0);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requiredSymbol {
  color: red;
}
